<div class="apps">
  <md-content>
    <div class="content">
      <h1 class="title">{{vm.title}}</h1>
      <div class="cards-container">
        <a ng-href="{{app.link}}" flex target="_blank" ng-repeat="app in vm.apps | filter: {tags: vm.tagFilter}">
          <md-card>
            <md-card-header>
              <div class="app-image" layout="row">
                <img ng-src="{{app.image || vm.emptyImage}}" ng-error="vm.setEmptyImage(app)" />
              </div>
              <md-card-header-text>
                <span class="md-title">{{app.title}}</span>
                <span class="md-subhead">{{app.description}}</span>
              </md-card-header-text>
            </md-card-header>
          </md-card>
        </a>
      </div>
    </div>
  </md-content>
</div>
