<div class="home" layout="row">
  <md-sidenav class="side" md-is-locked-open="true" md-whiteframe="4" layout="column" layout-align="space-between center">
    <div class="avatar" layout="column" layout-align="center center">
      <img class="md-avatar" src="/assets/img/coffee.jpg" alt="Avatar zvizvi">
      <span class="name md-headline">
        Zvizvi
      </span>
    </div>
    <div flex>
      <div class="social-links" layout="row" layout-align="center center">
        <md-button layout="row" layout-align="center center" href="https://github.com/zvizvi" target="_blank" class="md-icon-button" aria-label="Github">
          <img src="/assets/img/github.png" alt="Github" />
          <md-tooltip md-direction="top">Github</md-tooltip>
        </md-button>
        <md-button layout="row" layout-align="center center" href="https://gitlab.com/zvizvi" target="_blank" class="md-icon-button" aria-label="Gitlab">
          <img src="/assets/img/gitlab.png" alt="Gitlab" />
          <md-tooltip md-direction="top">Gitlab</md-tooltip>
        </md-button>
      </div>
      <md-list layout-align="start center">
        <md-list-item class="md-body-1" ng-repeat="(name, tag) in vm.tags">
          <a ui-sref="home.apps({tag: (name === 'default' ? null : name)})" ng-class="{'show': vm.$state.current.component === 'apps' && (vm.current === name || !vm.current && name == 'default')}">{{tag.label}}</a>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-body-1">
          <a ui-sref="home.☕" ui-sref-active="show">קפה</a>
        </md-list-item>
      </md-list>
    </div>
    <div>
      <buymeacoffee></buymeacoffee>
    </div>
  </md-sidenav>
  <div class="main" flex>
    <ui-view></ui-view>
    <md-fab-speed-dial md-open="vm.dialIsOpen" md-direction="{{vm.selectedDirection}}" ng-mouseenter="vm.dialIsOpen = true" ng-mouseleave="vm.dialIsOpen = false" class="contact-dial md-up md-scale md-fab-bottom-left">
      <md-fab-trigger>
        <md-button ng-focus="vm.dialIsOpen = true" aria-label="contact" class="md-fab md-warn">
          <md-tooltip md-direction="right">צור קשר</md-tooltip>
          <md-icon md-font-icon="zmdi zmdi-headset-mic zmdi-hc-2x" ng-style="{color: '#fff'}"></md-icon>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-button ng-repeat="item in ::vm.contactlist" ng-focus="vm.dialIsOpen = true" aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-href="{{item.url}}" target="_blank">
          <md-tooltip md-direction="right">{{item.label}}</md-tooltip>
          <img ng-src="{{item.img}}" class="{{item.name}}-dial-button-img" alt="{{item.name}}" />
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</div>
