html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: rgba(0, 0, 0, 0.87);
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font: 62.5% 'Arimo', arial, sans-serif;
  overflow-y: scroll;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  font-size: 15px;
  min-height: 100vh;
}

