<div class="coffee" ng-style="{'background-image': vm.backgroundType === 'image' ? 'url(' + vm.background + ')' : null}">
  <video ng-if="vm.backgroundType === 'video'" autoplay muted loop ng-attr-poster="{{vm.poster}}">
    <source ng-src="{{vm.background}}" type="video/mp4">
  </video>
  <a class="credit" href="http://www.freepik.com" target="_blank">Designed by Freepik</a>
</div>
