.buymeacoffee {
  direction: ltr;

  .bmc-btn svg {
    height: 21px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
    transform: scale(0.9);
  }

  .bmc-btn {
    color: #000;
    background-color: #fff !important;
    height: 60px;
    border-radius: 12px;
    font-size: 21px;
    border: none;
    padding: 0;
    line-height: 27px;
    text-decoration: none !important;
    display: inline-flex !important;
    align-items: center;
    font-family: Cookie !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  .bmc-btn:hover,
  .bmc-btn:active,
  .bmc-btn:focus {
    text-decoration: none !important;
    cursor: pointer;
  }

  .bmc-btn-text {
    margin-left: 6px;
    display: inline;
    line-height: 0;
  }

  .logo-outline {
    fill: #000;
  }

  .logo-coffee {
    fill: #fd0;
  }
}
